<!DOCTYPE html>
<html>
  <head>
      <title>Customer</title>
      <link rel="stylesheet" href="styles.css">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
    <body>
      <div style="width: 30%; margin:25px auto">
    <form action="/payment/product/pay_off" method="POST">
        <h4>收件人姓名</h4>
        <div class="form-group">
          <!--Make it a form group but have space-->
           <!--for the name blank-->
        <input class="form-control" type="text" name="name" placeholder="請輸入姓名....">
        </div>
        <h4>收件人電話</h4>
        <div class="form-group">
          <!--Make it a form group but have space-->
           <!--for the name blank-->
         <input class="form-control" type="text" name="telephone" placeholder="請輸入電話....">
        </div>
        <h4>收件地址</h4>
        <div class="form-group">
          <!--Make it a form group but have space-->
           <!--for the name blank-->
         <input class="form-control" type="text" name="address" placeholder="請輸入地址....">
        </div>
        <h4>收件人電子信箱</h4>
        <div class="form-group">
          <!--Make it a form group but have space-->
           <!--for the name blank-->
         <input class="form-control" type="text" name="email" placeholder="請輸入信箱....">
        </div>
        <h4>備註</h4>
        <div class="form-group">
          <!--Make it a form group but have space-->
           <!--for the name blank-->
         <input class="form-control" type="text" name="ps" placeholder="請輸入備註....">
        </div>
        <h4>商品價格*</h4>
        <div class="form-group">
          <!--Make it a form group but have space-->
           <!--for the name blank-->
         <input class="form-control" type="text" name="TotalAmount" value="150">
        </div>
        <h4>商品項目＊</h4>
        <div class="form-group">
          <!--Make it a form group but have space-->
           <!--for the name blank-->
         <input class="form-control" type="text" name="ItemName" placeholder="請輸入商品項目">
        </div>
        <h4>付款方式＊</h4>
        <div class="form-group">
          <!--Make it a form group but have space-->
           <!--for the name blank-->
         <input class="form-control" type="text" name="ChoosePayment" placeholder="請選擇付款方式....">
        </div>

    <button class="btn btn-lg btn-primary btn-default btn-block">Submit!!!</button>
        </div>
    </form>
    <a href="/information">回去</a>
    <div>

 </div>
</div>

    </body>
</html>
